form{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    background-position: center;
    
    font-size: 20px;
    color: black;
   display: center;
   border: 1px solid black;
   border-radius: 10px;
}
body{
        background-color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    content: center;
    text-align: center;
    text-shadow: 3cap 5px 5px rgb(rgb(92, 80, 80));
    color: black;
    background-color: aquamarine;
}
